:root{
  --blue:#0f2f44;
  --yellow:#ffc712;
  --purple:#8484bf;

  --ubuntu:'Ubuntu', sans-serif;
  --abrilFateFace:'Abril Fatface', serif ;
--opensans:'Open Sans', sans-serif;

}






*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
.container{
width: 1170px;
margin: auto;
}
.row{
  display: flex;
  flex-wrap: wrap;

}
ul{
  
  list-style: none;
}

a{
  text-decoration: none;
}

body{
  font-family: var(--opensans);
}


.alignitem{
  align-items:center;

}


.heading h6{
font-family: var(--ubuntu);
font-weight: 500;
  color: var(--blue);
  font-size: 14px;
}

.heading h2{
  font-family: var(--abrilFateFace);
  font-weight: 400;
    color: var(--blue);
    font-size: 32px;
  }
  

.heading{
  margin: ;
}



/* HEADER START */
.row .welcome{
  width: 50%;
}

.row .opening{
  width: 50%;
  text-align: center;
}

header{
  background-color: var(--blue);
  color: white;
  padding: 19px 0;

}
/* HEADER END */



/* NAVBAR START */

.logo{
  width: 30%;

 padding:30px 0;
}

.menu{
  width: 70%;
  text-align: end;
}
.menu ul li {
  
  display: inline-block;
}



nav .menu ul li a{
  color:black;
 text-transform: uppercase;
 padding:40px 20px;
 display:block;
 font-size: 16px;
 transition: 1s;
 font-weight: 500;
}






nav .menu ul li:hover a{
  color:var(--yellow);
  background-color: #fff9e6;
}

.menu ul li span i{
  width: 40px;
  height: 40px;
  border: 1px solid #Ccc;
  border-radius:50%;
  text-align: center;
  display: inline-block;
  line-height:40px ;
  
}
.alignitem{
  align-items:center;

}
/* NAVBAR END */


/* BANNER START */
#banner{
  background-image: url(../image/first-pic.png);
  height: 602px;
  background-size: cover;
  background-position: center;

}

.written{
  width: 35%;
}
.written h4{
font-size: 50px;
font-family: var(--ubuntu);
color: var(--blue);
font-weight: 300;
}
.written h1{
  font-family: var(--abrilFateFace);
  font-weight: 400;
  font-size: 80px;
  color: var(--blue);
  line-height: ;
}

.written h3{
  font-family: var(--ubuntu);
  font-weight: 400;
  font-size: 32px;
  color: var(--purple);
  letter-spacing: 6px;
 

}
.written p{
  font-family: var(--opensans);
  font-weight: 400;
  font-size: 14px;
  color:#444444 ;
  line-height: 21px;
  padding: 15px 0 30px ;
  color: #6b6f73;
  
}
.written span a{
  background-color: var(--purple);
  border-radius: 10px;
  color: white;
  padding: 16px 21px;
  font-size:20px ;
  font-weight: 500;
  font-family: var(--ubuntu);
  margin-top: 30px;
  display: inline-block;
}

.written i{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  line-height: 40px;
  text-align: center;
  margin-left: 20px;
  }
/* BANNER  END */


/* SERVICES START */

#services{
  margin-top: 100px;
}
.row .about{
    width:50%;

}
  
.about p{
  font-family: var(--opensans);
  font-weight: 400;
  font-size:16px;
  margin: 30px 0;
 
}

.about ul{
margin-left: 28px;
line-height: 31px;
font-family: var(--opensans);
  font-weight: 400;
  font-size:16px;
}

.row .pic{
  width:50%;
}

.row .about .buttonn a{
  border: 2px solid #f4f4f4;
  border-radius: 5px;
  padding:16px 20px ;
  color: var(--blue);
  font-size: 20px;
 font-weight: 500;
 font-family: var(--ubuntu);
 margin-top: 30px;
 display: inline-block;
}

.buttonn{
  margin-right: 20px;
}
.row .about .buttonn:hover a{
  background-color: var(--yellow);

}


/* SERVICES END */

/* SKILLS START  */

#skills{
 padding: 100px 0;
 


}

.picture{
  width: 60%;
 

}

.heading_part{
  width: 40%;
  text-align: right;

}

.heading_part p{
  margin: 38px 0;
  line-height: 30px;
}
/* SKILLS END */



/* Our SERVICES START */

#our{
  background-color: #f5f5f5;
  padding: 60px 0;


}
#our .heading{
  text-align: center;
 margin-bottom: 55px;

}



.services_card{
  
 width:calc(33.33% - 30px);
  outline: 1px solid red;
  margin: 0 15px;
  text-align: center;
  position: relative;
  padding: 20px 20px;

}

.services_card .icon {
  width: 30%;
  text-align: center;
}
.services_card .text{
  width: 70%;
}
.text h5{
  color: var(--blue);
  font-size: 20px;
  font-weight: 400;
  font-family: var(--ubuntu);
}

.services_card .overlay{
  background-color: #0f2f44;
  position: absolute;
  inset: 0;
  text-align: center;
  align-items: ;
opacity: 0;
visibility: hidden;
transition: .05s;

}
 .overlay img{
  padding-top: 40px;

 }


.services_card:hover .overlay{
visibility: visible;
opacity: 1;
}
.overlay a{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  display: block;
  color: #222222;
  position: absolute;
  background-color: var(--yellow);
  visibility: hidden;
opacity: 0;
bottom: -20px;
transition: .25s;
transition-delay: 0.32s;
transform: translateX(-50%);
left: 20%;
}
 .services_card:hover .overlay a{
opacity: 1;
visibility: visible;
left: 50%;

 }

/* Our SERVICES END */